.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
    top: 220px;
    left: 100px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    left: 150px;
  }
  
  .baloon {
    position: absolute;
    left: 500px;
    z-index: 3;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 4;
    left: 520px;
    top: 120px;

  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 800px;
    top: 230px;
  }