h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    text-align: center;
}
#a{
    background-color: yellow;
}
#v{
    background-color: red;
}
#m{
    background-color: brown;
}
.fundo {
    background-color: palevioletred;
    width: fit-content;
}
p{
    font-weight: 600;
    font-size: 300%;
    text-decoration: overline;
}
body{
    font-size: 16px;
    font-size: 100%;
}
ul{ 
    font-style: italic;
    line-height: 30px;
    
}